<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
      <a class="nav-link" href="http://localhost:1337/users/search?startDate=2/4/2014&endDate=12/12/2020">Qyery by date range</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="http://localhost:1337/users">Get all application in json</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:1337/users/1">Query by ID</a>
      </li>
    </ul>
  </div>
</nav>
